<div class="comments">
<div class="page_heading">Comments</div>
<ul>
<% @comments.each do |comment| %>
  <li class="comment_holder" data-depth="<%= comment['depth'] %>">
    <%= comment['email'] %> says:<br />
    <%= comment['text'] %>   
    <br />
    <% if user_signed_in? %>
      <input type="button" value="Delete" class="delete" data-commentid="<%= comment['id'] %>" />
    <% end %>
    <input type="button" value="Reply" class="reply" data-commentid="<%= comment['id'] %>" />
    <input type="button" value="Cancel" class="cancel hidden" />
  </li>
<% end %>
</ul>

<%= form_for Comment.new do |f| %>
  <%= f.hidden_field(:blog_entry_id, :value => blog_entry_id) %>
  <%= f.hidden_field(:parent) %>
  <div class="form_field"><input type="text" placeholder="NAME" name="comment[email]" id="comment[email]" /></div>
  <div class="form_textarea"><textarea placeholder="COMMENT" name="comment[text]" id="comment[text]" /></textarea></div><br clear="all" />
  <input type="button" class="ajax_submit comment_submit" value="Submit" />
<% end %>
</div>
