<%= form_for @blog_entry, url: {action: "create"}, html: {:multipart => true} do |f| %>
 <div class="editable_blog_text_fields">
  <%= f.label(:posted, "Post Date: ") %>
  <%= f.date_field(:posted) %>
  <br />
  <%= f.label(:featured, "Featured: ") %>
  <%= f.text_field(:featured) %>
  <br />
  <%= f.label(:title, "Title: ") %>
  <%= f.text_field(:title) %>
  <br />
  <%= f.label(:tags, "Tags: ") %>
  <br />
  <% Tag.all.each do |tag| %>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= check_box_tag 'blog_entry[tag_ids][]', tag.id %>
    <%= tag.name %>
    <br />
  <% end %>
 </div>
  <br />
  <%= f.label(:show_on_home, "Show On Home? (what order) ") %>
  <%= f.text_field(:show_on_home) %>
  <br />
  <%= f.label(:fade, "Fade text to image (backwards)?") %>
  <%= f.check_box :fade %>
  <br />
  <%= f.label(:image, "Cover Image: ") %>
  <%= f.file_field :image %>
  <br />
  <%= f.label(:text, "Body: ") %>
  <%= f.cktext_area(:text, :height => '500px') %>
  <br />
  <%= f.submit("Create") %>
<% end %>
<br /><br />

