<% content_for :head do %>
  
<% end %>

<% title @blog_entry.title %>

<% if user_signed_in? %>
<input type="button" id="edit_blog_entry" data-blogentryid="<%= @blog_entry.id %>" value="Edit" />
<input type="button" id="delete_blog_entry" data-blogentryid="<%= @blog_entry.id %>" value="Delete" />
<br />
<% end %>

<div class="single_blog_holder">
  <span style="font-size: 12px;"><%= @blog_entry.posted.strftime("%B %d, %Y") %></span><span class="tag_list">
<% @b_tags.each do |tag| %>
<%= tag.name %>
<% end %>
</span>
  <br />
  <div class="blog_title"><%= @blog_entry.title %></div>
  <%= @blog_entry.text.html_safe %>
  <br />
  <%= render template: "comments/show", locals: {blog_entry_id: @blog_entry.id} %>
</div>

<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js" data-pin-hover="true"></script>
