<% @blog_entries.each do |blog| %>

<div class="small-image blog-holder" data-id="<%= blog.id %>">
  <span class="home-blog-title">
    <h2><%= blog.title %></h2>
  </span>
  <% if blog.image_file_name %>
    <%= image_tag blog.image.url(:medium), class: 'small-home-image' %>
  <% else %>
    <div class="small-home-image" style="background-color: #BFE0E2; width: 100%; height: 100%; opacity: .0;"></div>
  <% end %>
</div>

<% end %>

<% @image_links.each do |link| %>
<div data-link="<%= link.link %>" class="small-image love-link blog-holder">
  <span class="home-blog-title">
    <h2><%= link.title %></h2>
  </span>

  <% if link.image_file_name %>
    <%= image_tag link.image.url(:medium), class: 'small-home-image' %>
  <% else %>
    <div class="small-home-image" style="background-color: #BFE0E2; width: 100%; height: 100%; opacity: .0;"></div>
  <% end %>
</div>
<% end %>