<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).empty? ? 'Amy Lauren Loves' : yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Allura" rel="stylesheet" type="text/css" />
  <%= favicon_link_tag '/favicon.ico' %>  
  <%= csrf_meta_tags %>
  <meta name="p:domain_verify" content="2b067d24b04f1bf8eaab2a6adb3b586a"/>
  <meta name="google-site-verification" content="QDxFPc6m8m5XVYOVN7SsFuMD8lQoTFEGILoSXhEj2j0" />
  <meta name="viewport" content="width=device-width, initial-scale=0.5" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56561042-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="left-sidebar">
        <div class="logo-container">
          <img id="logo" src="/images/aLlogo3.png" data-pin-no-hover="true" />
        </div><br clear="all" />
        <div class="sidebar-links">
          <ul class="my-navbar">
            <%= show_tags_on_side() %>
            <% if user_signed_in? %>
              <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => 'class_here' %></li><br />
              <li><%= link_to "CREATE BLOG", new_blog_entry_path %></li><br />
              <li><%= link_to "CREATE LINK", new_image_link_path %></li><br />
              <li><%= link_to "EDIT LINKS", image_links_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="non-left-sidebar">
       <div style="z-index: 9000000; background-color:white; width:1022px; top: 0px;">
         <img class="facebook_icon" src="/images/facebook_icon.png" onclick="window.open('http://www.facebook.com/amy.schiltz')" />
         <div class="navbar-container">
          <ul class="my-navbar">
            <li><%= link_to "HOME", root_path %></li>
            <li><%= link_to "BLOG", blog_entries_path %></li>
            <li><%= link_to "CONTACT", new_contact_path %></li>
            <li><a href="/blog_entries/53-wedding-photography-pricing">PRICING</a></li>
          </ul>
        </div>
          <img id="logorightside" src="/images/logorightside.png" data-pin-no-hover="true" />
       </div>
       <div class="main-container">
          <%= yield %>  
       </div>
       <br clear="all" />
       <div class="footer">
         <% if !user_signed_in? %>
           ©2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "CLIENT GALLERIES", image_links_list_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "LOGIN", new_user_session_path %>
         <% end %>
       </div>
       <div id="grey" class="hidden"></div>
       <div id="popup"><div id="popup-container" class="hidden"></div></div>
     </div>
   </div>
 </div>

<% if notice %>
  <p class="notice hidden"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert hidden"><%= alert %></p>
<% end %>

</body>
</html>
